Repository ManageIQ/manageiq-appliance, pull requests merged in 2019-06, with the labels that each got.

#241 Bump console version to 5.0.0
  manageiq-appliance-dependencies.rb
Labels: bug, dependencies

#242 [Changelog] Update for Sprint 113
  CHANGELOG.md
Labels: documentation

#240 Add the vmdb/content/ansible/roles directory to the role search path
  LINK/root/.ansible.cfg
Labels: changelog/yes, embedded ansible, enhancement

#243 [Changelog] Update for Sprint 114
  CHANGELOG.md
Labels: documentation
