Repository ManageIQ/manageiq-appliance, pull requests merged in 2022-07, with the labels that each got.

#362 up dependency for appliance console
  manageiq-appliance-dependencies.rb
Labels: bug, dependencies

#353 Move appliance dependencies to core
  manageiq-appliance-dependencies.rb
Labels: unmergeable, dependencies

#359 Remove manageiq-initialize.service
  COPY/usr/lib/systemd/system/manageiq-initialize.service
Labels: enhancement
